{% extends 'base.html' %}
{% load static %}
{% block title %}
Login
{% endblock %}


{% block content %}
<div class="row m-2">
    <div class="container">
        <a href="{% url 'bank:add' %}" class="btn btn-primary">Form</a>
    </div>



<!--</div>-->
<!--<div class="row m-2">-->
<!--    <div class="container">-->
<!--        <div class="col-sm-9 col-md-9 col-lg-9">-->
<!--            <form>-->
<!--              <div class="mb-3">-->
<!--                <label for="exampleInputEmail1" class="form-label">Name</label>-->
<!--                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name">-->
<!--&lt;!&ndash;                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>&ndash;&gt;-->
<!--              </div>-->
<!--              <div class="mb-3">-->
<!--                <label for="exampleInputPassword1" class="form-label">DOB</label>-->
<!--                <input type="date" class="form-control" id="exampleInputPassword1" name="dob">-->
<!--              </div>-->
<!--              <div class="mb-3">-->
<!--                <label for="exampleInputPassword1" class="form-label">Age</label>-->
<!--                <input type="number" class="form-control" id="exampleInputPassword1" name="age">-->
<!--              </div>-->
<!--              <div class="mb-3">-->
<!--                <label for="exampleInputPassword1" class="form-label">Gender</label>-->
<!--                <input type="text" class="form-control" id="exampleInputPassword1" name="gender">-->
<!--              </div>-->
<!--              <div class="mb-3">-->
<!--                <label for="exampleInputPassword1" class="form-label">Ph Number</label>-->
<!--                <input type="text" class="form-control" id="exampleInputPassword1" name="pnumber">-->
<!--              </div>-->
<!--              <div class="mb-3">-->
<!--                <label for="exampleInputPassword1" class="form-label">Email</label>-->
<!--                <input type="email" class="form-control" id="exampleInputPassword1" name="mailid">-->
<!--              </div>-->
<!--               <div class="mb-3">-->
<!--                <label for="exampleInputPassword1" class="form-label">Address</label>-->
<!--                <input type="text" class="form-control" id="exampleInputPassword1" name="address">-->
<!--              </div>-->


<!--              <div class="mb-3">-->

<!--                <div class="dropdown">-->
<!--                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                    Select District-->
<!--                  </button>-->

<!--                  <ul class="dropdown-menu">-->
<!--                    {% for i in district %}-->
<!--                    <li><a class="dropdown-item" href="#" name="district">{{i.district_name}}</a></li>-->
<!--                    {% endfor %}-->
<!--                  </ul>-->

<!--                </div>-->
<!--              </div>-->
<!--                <div class="mb-3">-->
<!--                <label for="exampleInputPassword1" class="form-label">Branches</label>-->
<!--                <div class="dropdown">-->
<!--                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                    Select Branch-->
<!--                  </button>-->
<!--                  <ul class="dropdown-menu">-->
<!--                    <li><a class="dropdown-item" href="#" name="branch">Action</a></li>-->

<!--                  </ul>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="row m-1">-->
<!--                <select class="form-select" aria-label="Default select example" name="account_type">-->
<!--                  <option selected>Services</option>-->
<!--                  <option value="1">Savings Account</option>-->
<!--                  <option value="2">Current Account</option>-->
<!--                  <option value="3">Credit Account</option>-->
<!--                </select>-->
<!--              </div>-->
<!--              <div class="form-check form-check-inline">-->
<!--                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">-->
<!--                <label class="form-check-label" for="inlineCheckbox1">Debit card</label>-->
<!--              </div>-->
<!--              <div class="form-check form-check-inline">-->
<!--                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">-->
<!--                <label class="form-check-label" for="inlineCheckbox2">Credit Card</label>-->
<!--              </div>-->
<!--              <div class="form-check form-check-inline">-->
<!--                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">-->
<!--                <label class="form-check-label" for="inlineCheckbox3">Cheque book</label>-->
<!--              </div>-->



<!--              <button type="submit" class="btn btn-primary">Submit</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

{% endblock %}