{% extends 'base.html' %}
{% load static %}
{% block title %}
    Home
{% endblock %}


{% block content %}

<div class="container">
                <div class="row m-5">
                  <div class="col-md-4 col-lg-4">

                      <div class="detail-box ">
                        <h1><br>
                          For All Your <br>
                          Banking Needs
                       </h1>
                        <p><br>
                          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus quidem maiores perspiciatis, illo maxime voluptatem a itaque suscipit.
                        </p><br>
<!--                    <div class="btn-box">-->
<!--                      <a href="" class="btn1">-->
<!--                        Contact Us-->
<!--                      </a>-->
                          <button type="button" class="btn btn-primary">Contact Us</button>
                          <button type="button" class="btn btn-success">About Us</button>
<!--                      <a href="" class="btn2">-->
<!--                        About Us-->
<!--                      </a>-->
                      </div>

                  </div>

                  <div class="col-md-6 col-lg-6">
                    <div class="img-box">
                      <img src="{% static 'images/online banking.jpg' %}" alt="online-banking image" width="750" height="450" >
                    </div>
                  </div>
                </div>
              </div>

 <!-- about section -->

  <section class="about_section layout_padding long_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="images/about-img.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti dolorem eum consequuntur ipsam repellat dolor soluta aliquid laborum, eius odit consectetur vel quasi in quidem, eveniet ab est corporis tempore.
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->
<section class="contact_section  long_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <div class="heading_container">
              <h2>
                Contact Us
              </h2>
            </div>
            <form action="">
              <div>
                <input type="text" placeholder="Your Name" />
              </div>
              <div>
                <input type="text" placeholder="Phone Number" />
              </div>
              <div>
                <input type="email" placeholder="Email" />
              </div>
              <div>
                <input type="text" class="message-box" placeholder="Message" />
              </div>
              <div class="btn_box">
                <button>
                  SEND
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="map_container">
            <div class="map">
              <div id="googleMap"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->

  <!-- info section -->
  <section class="info_section long_section">

    <div class="container">
      <div class="contact_nav">
        <a href="">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <span>
            Call : +91484 1234567
          </span>
        </a>
        <a href="">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <span>
            Email : taskbank@bank.com
          </span>
        </a>
        <a href="">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <span>
            Location
          </span>
        </a>
      </div>

      <div class="info_top ">
        <div class="row ">
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="info_links">
              <h4>
                QUICK LINKS
              </h4>
              <div class="info_links_menu">
                <a class="" href="index.html">Home <span class="sr-only">(current)</span></a>
                <a class="" href="about.html"> About</a>
                <a class="" href="furniture.html">Service</a>
                <a class="" href="blog.html">Branches</a>
                <a class="" href="contact.html">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock%}
