{% load static %}

<div class="col-md-12 col-lg-12">
   <nav class="navbar navbar-expand-lg bg-body-tertiary ">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
            <ul class="navbar-nav  ">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'bank:index' %}">Home <span class="sr-only">(current)</span></a>
              </li>
               {% if user.is_authenticated %}

                <li class="nav-item">
                <a class="nav-link" href=" "> Bank Accounts</a>
              </li>
                <li class="nav-item">
               <a class="nav-link" >{{user.username}} Account</a>
              </li>
                 {% else %}
              <li class="nav-item">

                <a class="nav-link" href="{% url 'bank:login' %} "> Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href=" {% url 'bank:register' %}">Register</a>
              </li>
                {% endif %}

<!--              <li class="nav-item dropdown {% if 'bankapp' in request.path %}active{% endif %}" >-->
<!--                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                    Dropdown-->
<!--                  </a>-->
<!--                  <ul class="dropdown-menu">-->

<!--                    {% for i in district %}-->
<!--                    <li><a class="dropdown-item" href="{{i.district_link}}">{{i.district_name}}</a></li>-->
<!--                    {% endfor %}-->
<!--                  </ul>-->
<!--              </li>-->

              <li class="nav-item">
<!--                <a class="nav-link" href=" ">Branches</a>-->
                <div class="dropdown">
                  <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Districts
                  </button>
                  <ul class="dropdown-menu">
                    {% for i in district %}
                    <li><a class="dropdown-item" href="{{i.district_link}}">{{i.name}}</a></li>

                     {% endfor %}
<!--&lt;!&ndash;                    <li><a class="dropdown-item" href="#">Another action</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <li><a class="dropdown-item" href="#">Something else here</a></li>&ndash;&gt;-->
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href=" ">Services</a>
              </li>
            </ul>
          </div>
            {% if user.is_authenticated %}
            <ul class ="nav-item">Hello {{user.username}} </ul>

            <div class="quote_btn-container">
               <ul> <a href="{% url 'bank:logout' %}">
              <span>
                Logout
              </span>
            </a></ul>
            {% else %}
          <div class="quote_btn-container">
            <a href="{% url 'bank:login' %}">
              <span>
                Login
              </span>
              <i class="fa fa-user" aria-hidden="true"></i>
            </a>
              {% endif %}
            <form class="form-inline">
              <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </form>
          </div>
        </div>
      </div>

   </nav>

 </div>
